[submodule ".config/waybar/pickle-bar"]
	path = .config/waybar/pickle-bar
	url = https://github.com/MiniFalafel/pickle-bar.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/MiniFalafel/dotnvim.git
